body {
    display: flex;
    background-color:#F9EDE1;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height:1000px;
    width:100vw;
  }
  
.book_container{
  background:transparent;
  width:95%;
  min-height:275px;
  height:20%;
}
.book{
  background-color: #ffffff;
  border-radius: 5px;
  width:206px;
  height:225px;
}
#tab ul{
  white-space:nowrap;
  overflow-x:hidden;
}
#tab ul:hover{
  overflow-x: auto;
}
#tab ul li{
  display:inline-block; margin-right:10px;
}
.page_container{
  background-color: #6F5141;
  position:relative;
  border-radius: 32px;
  width:95%;
  height:55%;
  z-index: 2;
}
.corn{
  position:absolute;
  width: 0px;
  height: 0px;
  border-bottom: 70px solid #6F5141;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left:50px;
  top:-25px;
}