body {
    display: flex;
    background-color:#F9EDE1;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height:1000px;
    width:100vw;
  }
.book{
  position: relative;
  display:inline-block;
  background-color: #ffffff;
  color:#ffffff;
  border-radius: 5px;
  width:224px;
  height: 245px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  z-index: 5;
}

#filebox{
  pointer-events: none;
}
#filebox .FileOff{
  display: inline-block;
  padding: .5em .75em;
  background-color: #adaaa4;
  color:rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: .25em;
}
#filebox .FileOn{
  display: inline-block;
  padding: .5em .75em;
  background-color: #F2C759;
  color:rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25em;
}
#filebox 
#FileUpload{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  border:0;
  margin:-1px;
  overflow:hidden;
  clip: rect(0,0,0,0);

}
.book p{
  position:absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
}
#InputBook{
  background-color: transparent;
  border:3px dashed;
  border-color:rgba(255,255,255,0.5);
  cursor: pointer;
}
#InputBook:hover{
  border:solid;
}
.color-show p{
  position:absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
}

[placeholder]:empty:before { 
  display: block; 
  content: attr(placeholder); 
  color: #ffffff;
}
#color-show{
  position:relative;
  width:224px; 
  height:245px;
  background-color: #FFFFFF; 
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
  color:black; 
}
#text{
  width:220px;
  background-color: ghostwhite;
  resize: none;
  overflow: hidden;
  border: none;
}
input:focus{
  outline:none;
}
.pageContainer{
  width:100vw;
  height:95vh; 
  background-color:#6F5141; 
  margin:30px 30px 0px 30px; 
  border-radius: 32px;
}

.page{
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  width:250px;
  height:300px;
}

p{
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none;
   -khtml-user-select: none; 
   user-select:none;
}
#list{
  height:50%;
  margin-left: 30px;
  margin-right: 30px;
  overflow-y: hidden;
  display:flex;
  flex-wrap: wrap;
}
#list:hover{
  margin-right:5px;
  overflow-y: auto;
}
#tab{
  margin-left:50px;
  margin-right:30px;
  display:flex;
  overflow-y: hidden;
  flex-wrap : wrap;
}
#tab:hover{
  overflow-y: auto;
}
.booklet{
  background-color: #b6673c;
  position:absolute;
  border-radius: 32px;
  height:55%;
  z-index: 5;
  display:none;
  top:350px;
  left:60px;
  right:0;
  margin-right:60px;
}

.corn{
  position:absolute;
  width: 0px;
  height: 0px;
  border-bottom: 70px solid #b6673c;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left:50px;
  top:-32px;
  z-index: 5;
}

.AddButton{
  background-color: rgb(118, 206, 177); 
  color:white
}
.AddButton:hover{
  background-color: rgb(92, 159, 136); 
}
.CancelButton{
  background-color: darkgray; 
  color:white
}
.CancelButton:hover{
  background-color: rgb(125, 125, 125); 
}

/* 로그인 화면 */
@keyframes Loading {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.Loading div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: Loading linear 1s infinite;
  background: #e3d1d1;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.Loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #e3d1d1;
}.Loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #e3d1d1;
}.Loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #e3d1d1;
}.Loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #e3d1d1;
}.Loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #e3d1d1;
}.Loading div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #e3d1d1;
}.Loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #e3d1d1;
}.Loading div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #e3d1d1;
}.Loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #e3d1d1;
}
.loadingio-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.Loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.Loading div { box-sizing: content-box; }
/* 로그인 화면 끝 */