
body {
    display: flex;
    flex-wrap: nowrap;
    background-color:#F9EDE1;
    height: 100vh;
    width:100%;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
  }

  .container{
    margin: auto;
    margin-top: 0.8%;
  }

  .col{
    margin-top: 0.8%;

  }

  /* timer block */
  .timerTitle{
    font-size: larger;
    color: #6F5141;
  }


  .timerContainer {
    width: 1500px;
    height: fit-content;
    background: white;  
    margin: auto;
    margin-left: -10%;
    margin-top : 0.8%;
    padding-inline: 10%;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    border-radius: 3px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.timerSet{
  text-align: center;
  vertical-align: middle;
  margin: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
}

.subTitle{
  color: #ebb01c;
  margin-left: 0%;
  width: 230px;
  overflow: hidden;
}


.playButton{
  width:30px;
  height:30px;
  margin-left:100px;
  background-color: white;
  border-width:0 0 0 30px;
  margin-top: 6px;
  border-color:#6F5141;
  border-style:double;
  border-left: 30px solid #6F5141;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.playButton:hover{
  width:30px;
  height:30px;
  margin-left:100px;
  background-color: white;
  border-width:0 0 0 30px;
  margin-top: 6px;
  border-color:#533d31;
  border-style:double;
  border-left: 30px solid #533d31;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.pauseButton{
  width:30px;
  height:30px;
  margin-left:100px;
  background-color: white;
  border-width:0 0 0 30px;
  margin-top: 6px;
  border-color:#6F5141;
  border-style:double;
}
.pauseButton:hover{
  width:30px;
  height:30px;
  margin-left:100px;
  background-color: white;
  border-width:0 0 0 30px;
  margin-top: 6px;
  border-color:#533d31;
  border-style:double;
}

.timeBox{
  background-color: #6F5141;
  margin-left: 150px;
  padding-inline: 50px;
  height: fit-content;
  width: fit-content;
  color:#F9EDE1;
  font-size: larger;
}
#timerLineTop{
  background-color:#6F5141;
  width: 82%;
  height:11px;
  margin-inline: 10%;
  margin-top: 3%;
  margin-bottom:2%;
}

#timerLine{
  background-color:#6F5141;
  width: 95%;
  height:11px;
  margin-top: 3%;
  margin-bottom:2%;
}
.Add{
  background-color: rgb(118, 206, 177); 
  color:white
}
.Add:hover{
  background-color: rgb(92, 159, 136); 
}
.Cancel{
  background-color: darkgray; 
  color:white
}
.Cancel:hover{
  background-color: rgb(125, 125, 125); 
}
.clickButton{
  color:#6F5141;
}
.clickButton:hover{
  color:#533d31;
}
/* to-do list block */
.toDoContainer {
  width: 600px;
  height: fit-content;
  background: rgba(255, 255, 255, 0.671);
  margin: auto;
  margin-left: -20%;
  margin-top : 4%;
  padding-inline: 10%;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
/* table block */
.tableContainer {
  width: 600px;
  height: 450px;
  background: rgba(255, 255, 255, 0.671);  
  margin: auto;
  margin-left: 10%;
  margin-top : 4%;
  padding-inline: 10%;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#tableLine{
  background-color:#6F5141;
  width: 100%;
  height:10px;
  margin-inline: 0%;
  margin-top: 2%;
  margin-bottom:2%;
}

.table{
  margin-left: auto;
  margin-right: auto;
}

/* 로그인 화면 */
@keyframes Loading {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.Loading div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: Loading linear 1s infinite;
  background: #e3d1d1;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.Loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #e3d1d1;
}.Loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #e3d1d1;
}.Loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #e3d1d1;
}.Loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #e3d1d1;
}.Loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #e3d1d1;
}.Loading div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #e3d1d1;
}.Loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #e3d1d1;
}.Loading div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #e3d1d1;
}.Loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #e3d1d1;
}.Loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #e3d1d1;
}
.loadingio-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.Loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.Loading div { box-sizing: content-box; }
/* 로그인 화면 끝 */